name: Continuous Integration
on: [push, pull_request]

jobs:
  jest:
    name: functional tests
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v3

    - name: set node.js 16.x
      uses: actions/setup-node@v3
      with:
        node-version: 16.x

    - name: install dependencies
      run: npm ci

    - name: run jest tests
      run: npm test

  integration_test_setup:
    runs-on: ubuntu-latest
    name: install pyenv and check versions
    steps:
    - name: checkout
      uses: actions/checkout@v3

    - name: setup pyenv
      id: pyenv
      uses: ./

    - name: list python versions
      run: pyenv versions

    - name: verify default installation
      run: python --version

    - name: list files in pyenv_root
      run: ls -lhtr ${{ steps.pyenv.outputs.pyenv_root }}

  integration_test_preinstall_default:
    runs-on: ubuntu-latest
    name: pre-install default version
    steps:
    - name: checkout
      uses: actions/checkout@v3

    - name: pyenv + python 3.7.16
      id: pyenv
      uses: ./
      with:
        default: 3.7.16

    - name: pyenv + python 3.7.16 cached
      id: pyenv2
      uses: ./
      with:
        default: 3.7.16

    - name: list python versions
      run: pyenv versions

    - name: verify default installation
      run: python --version | grep 3.7.16

  integration_test_preinstall_versions:
    runs-on: ubuntu-latest
    name: pre-install multiple versions of python
    steps:
    - name: checkout
      uses: actions/checkout@v3

    - name: pyenv + python 3.8.16 and 3.7.16
      id: pyenv
      uses: ./
      with:
        default: 3.7.16
        command: |
          pip install -U pip
          pip install -U setuptools

        versions: 3.8.16,

    - name: list python versions
      run: pyenv versions

    - name: verify default installation
      run: python --version

    - name: verify python 3.8.16 installation
      run: pyenv local 3.8.16 && python --version | grep 3.8.16

    - name: verify python 3.7.16 installation
      run: pyenv local 3.7.16 && python --version | grep 3.7.16


  integration_test_run_command_after_each_installation:
    runs-on: ubuntu-latest
    name: run command after installing each python version
    steps:
    - name: checkout
      uses: actions/checkout@v3

    - name: python 3.8.16 and 3.7.16 with latest pip
      id: pyenv
      uses: ./
      with:
        default: 3.7.16
        command: |
          pip install -U pip
          pip install -U setuptools

        versions: 3.8.16,

    - name: List python versions
      run: pyenv versions

    - name: verify default installation
      run: python --version

    - name: verify pip version on python 3.8.16 installation
      run: pyenv local 3.8.16 && pip --version

    - name: verify pip version on python 3.7.16 installation
      run: pyenv local 3.7.16 && pip --version
